@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../imgs/69.jpg");
    background-size: 1550px 1100px;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(0px);
}

header li a, button{
    font-weight: 800;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    color: #edf0f1;
    text-decoration: none;
}
header li{
    border-right: 2px solid rgb(18, 89, 136);
}

header{
    background-color: rgba(0, 169, 152, 0.219);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2% 10%;
    border-bottom: 2px solid rgb(18, 89, 136);
}
.logo{
    cursor: pointer;
    margin-right: auto;
    max-width: 10%;
    max-height: 8%;
}
.navlink{
    list-style: none;
    margin-right: 20px;
}
.navlink li{
    display: inline-block;
    padding: 0px 20px;
}
.navlink li a{
    transition: all 0.3s ease 0s;
    color: rgba(0, 136, 169, 1);
}
.navlink li a:hover{
    color: black;
}

header button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
header button:hover{
    background-color: rgba(0, 136, 169, 0.8);
    color: black;
}
footer{
    background-color: rgba(0, 169, 152, 0.319);
    width: 100%;
    height: 40vh;
    margin-top: 3%;
    border-top: 4px solid black;
    
}
.footer1{
    width: 33.33%;
    height: 83%;

    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: black;
    float: left;
    text-align: center;
    padding: 3% 3.5% 0;
    text-shadow: 1px 1px 15px bisque;
}
.footer1 h3{
    border-top: 4px solid aqua;
    padding-top: 3%;
}
.footer1 h1, .footer1 h3{
    border-right: 4px solid aqua;
}
.footer2{
    width: 33.33%;
    height: 83%;
    float: left;
    padding-top: 35px;
    text-shadow: 1px 1px 15px bisque;

}
.footer2 li{
    list-style-type: none;
    padding: 2px 0 0 25%;
    border-right: 3px solid cyan;
}
.footer2 li a{
    font-weight: 800;
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 2% 0 2% 0;

}
.footer3{
    width: 33.33%;
    height: 83%;

    float: right;
    text-align: left;
}
.footer3 font input{
    padding: 2% 150px 2% 10px;
    margin: 20px 0 0 3%;
    border: solid 3px black;
}
.footer3 font button{
    background-color: black;
    color: aqua;
    padding: 3px 50px;
    border: solid 1px whitesmoke;
    margin: 15px 0 0 3%;
    cursor: pointer;
}
.footer3 font button:hover{
    background-color: aqua;
    color: black;
}
.icons{
    list-style-type: none;
    display: flex;
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    margin: 2% 4%; 
    color: aqua;
    text-shadow: 1px 1px 10px black;
}
.icons li{
    padding: 2% 18px 0;
    cursor: pointer;
}
.footer4{
    float: left;
    height: 10%;
    width: inherit;
    padding: 2px 20% 0;
    text-align: center;
}
.footer4 h4{
    padding-top: 10px;
    border-top: 4px solid black;
}
