@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mainn{
    background-image: url("../imgs/69.jpg");
    background-size: 1550px 1100px;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(0px);
}
.mainpage{
    width: 80%;
    height: 550px;

    margin-top: 45px;
    margin-left: 10%;
    border-radius: 20px;
    margin-right: 15%;
    overflow: hidden;
}
.mainpage2{
    width: 40%;
    height: inherit;

    float: left;
    text-align: center;
    color: rgba(0, 136, 169, 1.0);
    font-size: 35px;
    font-family: 'Lobster', cursive;
    padding: 0 0 6% 0;
    position: relative;
}
#borderleft{
    position: absolute;
    border-left: 4px dashed rgb(9, 239, 189);
    top: 25%;
    bottom: 40%;

}
.mainpage2 p{
    padding-top: -15px;
}
.mainpage3{
    width: 60%;
    height: inherit;
    float: right;
    padding: 10% 0 0 0;
    text-align: center;
    color: rgba(0, 136, 169, 1.0);
    font-size: 24px;
    font-family: 'Fjalla One', sans-serif;
    animation: shadowmove 5s infinite;
    padding-right: 0%;
}
@keyframes shadowmove {
    70%{text-shadow: 10px 10px 30px rgb(80, 235, 127)}
}
.mainpage3 h3{
    letter-spacing: 1.5px;
    line-height: 35px;
    margin-top: 2%;
}
.dttimg{
    position: relative;
    cursor: pointer;
    max-width: 90%;
    max-height: 85%;
}